@charset "utf-8";
/* Параметры для отображения графика */

body {
	font-family: sans-serif;
	font-size: 16px;
	margin-top: 7px;
	background-color: #a0e85f;
}
h1 {
	font-style: italic;
}
div#graphdiv {
	margin-top: 15px;
	height: 755px;
	width: 1535px;
	text-align: center;
	vertical-align: middle;
}
div#all_marks {
	display: inline-block;
	position: absolute;
	left: 1565px;
	top: 75px;
	text-align: center;
	font-weight: bolder;
}
img {
	margin: auto;
}
.dygraph-legend {
	background-color: rgb(225, 189, 20);
	color: brown;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
}
.dygraph-axis-label {
	font-weight: bold;
	font-style: italic;
	font-size: 11pt;
}
.dygraph-axis-label-y {
	color: #ff0000;
}
.dygraph-axis-label-x {
	color: #ab1463;
}
